.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cyber-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This ensures the background stays behind other content */
  pointer-events: none; /* This allows clicks to pass through the background */
  overflow: hidden;
}

.cyber-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; /* Adjust this value to make the background more or less transparent */
}

/* Ensure other content is positioned above the background */
.App > *:not(.cyber-background) {
  position: relative;
  z-index: 1;
}

/* Specific styles for the navbar to ensure it's interactive */
.navbar {
  position: relative;
  z-index: 1000; /* High z-index to ensure it's above other elements */
}
